@import url('https://rsms.me/inter/inter.css');

body {
  background: #1f1f1f;
  color: whitesmoke;
  margin-left: -8px;
  margin-right: -8px;
}

.main {
  background: #242424;
  box-shadow: 4px 12px 24px rgba(0, 0, 0.25);
  display: flex;
  margin: 80px 160px;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
  border-radius: 32px;
}

.title {
  cursor: pointer;
  font-family: inter;
  font-size: 54px;
  font-weight: bold;
  color: whitesmoke;
  margin: 64px auto 64px 80px;
}

.tooltip .tooltiptext {
  font-weight: lighter;
  font-size: 20px;
  visibility: hidden;
  width: 200px;
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
  border-radius: 32px;
  position: absolute;
  box-shadow: 4px 12px 24px rgba(0, 0, 0.25);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tasks {
  font-family: inter;
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.task-button {
  background-color: #242424;
  size: 40px;
  margin-left: 40px;
  border: none;
}

.task-button:focus {
  border: none;
  outline: none;
}
.button:active {
  outline: none;
}

p {
  margin-left: 24px;
  font-family: inter;
  font-size: 17px;
  line-height: 40px;
}

.label {
  font-weight: normal;
}

.label-medium {
  font-weight: bold;
}

.label-barrato {
  font-weight: normal;
  text-decoration-line: line-through;
}

::-webkit-scrollbar {
  display: none;
}

.add-button {
  margin: auto;
  background: #716fb2;
  box-shadow: 4px 12px 24px rgba(0, 0, 0.25);
  border-radius: 32px;
  padding: 16px 32px;
  color: #01001e;
  font-size: 17px;
  font-family: inter;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.add-logo {
  margin-right: 24px;
}

.search-box {
  text-align: center;
  background: #242424;
  box-shadow: 4px 12px 24px rgba(0, 0, 0.25);
  display: flex;
  margin: 20px 160px;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
  border-radius: 32px;
  margin-top: 50px;
}

.search-input {
  color: whitesmoke;
  margin-left: 80px;
  background: #242424;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: inter;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
