@import url('https://rsms.me/inter/inter.css');

.popup-box {
  right: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.box {
  position: relative;
  text-align: center;
  padding: 40px;
  background-color: #242424;
  border-radius: 32px;
  overflow: auto;
  border-radius: 40px;
}

.input {
  height: 155px;
  width: 429px;
  background: #242424;
  border: none;
  color: whitesmoke;
  font-size: 17px;
  outline: none;
}

.button-salva {
  margin: 24px auto;
  background: #716fb2;
  box-shadow: 4px 12px 24px rgba(0, 0, 0.25);
  border-radius: 32px;
  padding: 8px 32px;
  font-size: 17px;
  color: #01001e;
  font-family: inter;
  font-weight: bold;
}
